body {
    background-color: beige;
    text-align: center;
}

#demo {
    background-color: blue;
    color: white;
}

#new {
    color: red;
}

#myHeader {
    background-color: lightblue;
    color: red;
    padding: 40px;
    text-align: center;
}